<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>兑换页面</title>
	<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]><!-->
	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
	<!--<![endif]-->
</head>
<body style="background-color: #eee;">
	<div style="margin: 0 auto;width: 600px;padding-top: 150px;">
		<div style="text-align: center;margin-bottom: 50px;"><h2>兑换码检测</h2></div>

		<div style="width: 200px;margin: 0 auto;text-align: center;padding-bottom: 100px;">
			<form onsubmit="check();return false;">
				<input type="text" id="code" placeholder="请输入兑换码"/>
				<input type="submit" value="检测">
			</form>
		</div>

		<div id="error" style="text-align: center;margin: 0 auto;width: 150px;"></div>
		<div id="ok" style="text-align: center;display: none;margin: 0 auto;width: 150px;">
			<div style="text-align: center;" id="info"></div>
			<div style="text-align: center;">是否兑换</div>
			<div>
				<button onclick="convert()" style="float: left;">是</button>
				<button onclick="clean();" style="float: right">否</button>
			</div>
		</div>
	</div>

	<script>
		function check(){
			var code = $("#code").val();
			if (code == '') return;
			$.post("{:U('Ajax/check')}", {code:code}, function(data){
				if (data.status >= 1) {
					$("#ok").hide();
					$("#error").html(data.info).show();
				} else {
					$("#error").hide();
					$("#ok").show();
				}
			});
		}
		function convert(){
			var code = $("#code").val();
			if (code == '') return;
			$.post("{:U('Ajax/convert')}", {code:code}, function(data){
				$("#error").html(data.info).show();
				$("#ok").hide();
				$("#code").val("").focus();
			});
		}
		function clean(){
			$("#code").val("").focus();
			$("#ok").hide();
			$("#error").hide();
		}
		$().ready(function(){
			$("#code").focus();
		})
	</script>
</body>
</html>